.courses{
    display: flex;
    height:92.5vh;
    width:99vw;
    /* border: 10px solid pink; */

}
.cat{
    border-right:0.5px solid rgba(0, 0, 0, 0.349);
    margin:50px;
    padding: 50px;
}
.sec-01 a{
    color:black
}
.content{
    /* border-right: 2px solid black; */
    text-align: center;
    border-collapse: collapse;
    margin-left:100px;
    padding-top:100px;

}
tr,td{
    padding: 20px;
    color:white;
}
.id1{
    color:#F2CD5C;
}
.drop-down{
    background-color: #282A35;
    height: 92.6vh;
    font-family: 'Source Sans Pro', sans-serif;
    display: none;
}
.id2:hover{
background-color: grey;
}
.id2 a:hover{
color:black
}

